<div class="phone-form">
  @if(editMode) {
    <form [formGroup]="phoneForm" (ngSubmit)="phoneForm.valid && onSubmit()" #f="ngForm">
      <div class="form-group">
        <label>
          Phone number:
          <input type="text" formControlName="phoneNumber"  />
        </label>
        <div *ngIf="phoneForm.get('phoneNumber')?.invalid && phoneForm.get('phoneNumber')?.touched" class="form-error">
          Phone number is required.
        </div>
      </div>
      <div class="d-flex flex-row align-items-center mt-20">
        <button type="submit" class="btn btn-primary mr-10">{{ mode === 'create' ? "Save" : "Update" }}</button> <button type="button" class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
      </div>
    </form>
  } @else {
    @if(mode === 'create') {
      <button class="btn btn-primary" (click)="toggleEdit()">Add a new phone number</button>
    } @else {
      <div class="my-20">
        <p>{{ phone.phoneNumber }}</p>
        <div class="d-flex flex-row align-items-center my-10">
          <button class="btn btn-success mr-10" (click)="toggleEdit()">Update</button>
          @if(!phone.isMain) {
            <button class="btn btn-secondary mr-10" (click)="setPhoneAsMain()">Set as main</button>
            <button class="btn btn-danger" (click)="removePhone()">Remove</button>
          } @else {
            <span class="badge badge-gray">Main phone number</span>
          }
        </div>
      </div>
    }

  }
</div>
